<div class="row">
  <div class="col-md-7 latest-campaigns-area">
    <h1 class="page-title"><%= t('campaign.self.startup_campaign_title') %></h1>

    <p><%= t('campaign.self.startup_campaign_sentence') %></p>

    <%= render 'form', campaign: @campaign %>
  </div>
</div>