<div class="row">
  <div class="col-md-7 latest-campaigns-area">
    <h1 class="page-title">どのトピックでキャンペーンを立ち上げますか？</h1>

    <p>トピックを選択いただくと、関心のありそうな方にあなたのキャンペーンを表示することができます</p>

    <%= render 'form', campaign: @campaign %>
  </div>
</div>