@import "./variables";

/***************************************
        　　　　　共通
***************************************/
h1.page-title {
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}

/***************************************
        　　　　　一覧
***************************************/
div.latest-campaigns-area {
  margin: 0 auto;
}

p.latest-campaign-header {
  font-weight: bolder;
  color: $application_base_color;
  border-bottom: $border;
}

div.page-header {
  display: inline-block;
  width: 100%;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

/***************************************
        　　　　　Comments
***************************************/
div.comment-area {
  margin-top: 80px;

  div.comment-form {
    margin-top: 20px;
    margin-bottom: 30px;
  
    .comment-tarea {
      height: 150px !important;
    }
  }

  div.comment-lists {
    height: 320px;
    overflow-y: auto;

    div.comment-area-inner {
      padding: 20px 0px;
      border-bottom: $border; 
    }
  }
}

div.comment-area-header {
  display: flex;
  margin-bottom: 10px;

  div.comment-area-header-left {
    width: 85%;
  }

  div.comment-area-header-right {
    width: 15%;
    text-align: right;
    padding-right: 20px;
  }
}

/***************************************
        　　　　　Supports
***************************************/
div.supporter-lists {
  height: 135px;
  overflow-y: auto;
}

.supporter-form {
  .btn-support {
    border: none !important;
    background-color: $application_base_color !important;
  }
}


/***************************************
        　　　　　devise
***************************************/
div.auth-content-area {
  width: 70%;
  margin: 0 auto;
}

/***************************************
        　　　　　show
***************************************/

div.campaign-detail-header {
  display: flex;
  margin-bottom: 30px;

  div.campaign-detail-header-left {
    width: 80%;
  }

  div.campaign-detail-header-right {
    width: 20%;
  }

  a.campaign-secondary-icon-link {
    margin-left: 30px;
  }
}