$title_color:  #ec2c22;
$header_color: #737273;
$footer_bgcolor: #efefef;

$icon_color: #dbd9db;

/***************************************
        　　　　　共通
***************************************/
html, body {
  font-size: 14px;
  font-family: 'メイリオ';
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 92px;
  font-weight: bolder;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: $header_color;
}

h4 {
  font-weight: bold;
}

ul {
  list-style: none;
}

/***************************************
        　　　　　固有
***************************************/
div.container {
  margin-top: 80px;
}

#header-title {
  color: $title_color;
  font-weight: bold;
  font-size: 1.75rem !important;
}

footer {
  height: 500px;
  margin-top: 80px;
  padding: 30px 120px 10px 120px;
  background-color: #efefef;

  h5 {
    font-size: 14px;
    font-weight: bold;
    color: $header_color;
  }
  .list-group-item {
    background-color: $footer_bgcolor;
    border: none;
  }
  .partition {
    margin-bottom: 30px;
  }
  p#copyright {
    margin: 0px;
    padding: 0px;
  }
  .sns-icon {
    margin-right: 10px;
  }
}

span.help-icon {
  position: relative;
  margin-left: 5px;

  .help-icon {
    color: $icon_color;
  }
}

/** 吹き出し */
p.bubble {
  display: none;
  width: 200px;
  position: absolute;
  top: -30px;
  left: 35px;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
}

p.bubble:after {
  position: absolute;
  width: 0px;
  height: 0px;
  left: -20px;
  top: 27px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.help-icon:hover > .bubble {
  display: block;
}

/** メッセージ */
.notice-message {
  background-color: #28a745;
  color: #ffffff;
  font-weight: bold;
  padding: 12px 20px;
  margin: 30px 0px;
}

.error-message {
  background-color: #ec2c22;
  color: #ffffff;
  font-weight: bold;
  padding: 12px 20px;
  margin: 30px 0px;
}

.message-icon {
  margin-right: 10px;
}