<div class="col-md-3 float-right campaign-topic-area">
  <h3>トピック</h3>

  <% @tags.each do |tag| %>
  <%= link_to tag.name, campaigns_path, {class: 'btn btn-primary campaign-topic-link', roll: 'button'}%>
  <% end %>
</div>